
    .lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

