
    .lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
   background-color: rgba(229, 84, 115, 0.1);

}

.hero-container{
  display: flex;
  width: 75%;
  margin: 0 auto;

  /* height: 850px; */
  justify-content: space-around;
  /* padding: 197px,972px,147px,240px; */
  gap: 32px;
  
  

  
}
.hero-text h1{
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 32px;

}
.hero-text p{
  font-style: normal;
  font-size: 1.1rem;
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 32px;
}
.hero-text button{
  background-color:#E55473;
  color: white;
  border: none;
  width: 177px;
  height: 64px;
  border-radius: 5px;
}
.hero-text{
  width: 708px;
  margin-top: 197px;
  
}
.hero-pic img{
  margin-top: 50px;
  width: 100%;
  height: 680px;
   
}



