
    .lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato{
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
   background-color: rgba(229, 84, 115, 0.1);

}

.hero-container{
  display: flex;
  width: 75%;
  margin: 0 auto;

  /* height: 850px; */
  justify-content: space-around;
  /* padding: 197px,972px,147px,240px; */
  gap: 32px;
}
.hero-text h1{
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 32px;

}
.hero-text p{
  font-style: normal;
  font-size: 1.1rem;
  color: rgba(39, 39, 39, 0.6);
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 32px;
}
.hero-text button{
  background-color:#E55473;
  color: white;
  border: none;
  width: 177px;
  height: 64px;
  border-radius: 5px;
}
.hero-text{
  width: 708px;
  margin-top: 197px; 
}
.hero-pic img{
  margin-top: 50px;
}

.flower-container{
  font-style: normal;
}
.all-flowers{
  display:flex;
  gap: 24px;
 width: 1440px;
 height: 605px;
 padding: 65px 240px 128px 240px;
}
.flower-text{
  margin-top: 178px;
  margin-bottom: 48px;
  text-align: center;
}
.flower-text h2{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.flower-text p{
  font-style: normal;
  font-size: 1rem;
  color: rgba(39, 39, 39, 0.6);
  /* line-height: 30px; */
  font-weight: 400;
  /* margin-bottom: 32px; */
}
.pink-flowers{
  width: 464px;
  height: 480px;
  text-align: center;
}
.pink-flowers img{
   background-color:rgba(167, 33, 98, 0.15);
   border-radius:  250px 250px 0px 0px;
   padding: 110px 78px 0px 76px;
}
.bouquet{
   width: 464px;
  height: 480px;
  text-align: center;
  color: black;  /*  -------->p */
 
}
.bouquet img{
   background-color:rgba(5, 151, 160, 0.15);
   padding: 117px 47px 51px 47px;
   border-radius:  250px 250px 0px 0px;
}
.yellow-flowers{
   width: 464px;
  height: 480px;
  text-align: center;
    border-radius:250px 250px 0px 0p;
 
}
.yellow-flowers img{
  background-color: rgba(71, 125, 17, 0.15);
  padding: 67px 75px 0px 75px;
  /*  -------->p */
}











